:root {
    --white : #ffffff;
    --black : #000000;
    --color : #E31B6D;
    --scolor: #FE9700;
}
body {
    font-family: "Raleway";
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: var(--color);
    }
}

.color {
    font-weight: 600;
    color: var(--color);
}

// Header

.header {
    width: 100%;
    height: 100vh;
    background: #252934;

    .header-block {
        position: absolute;
        top: 37%;
        left: 0;

        .header-title {
            font-size: 2.6em;
            text-align: center;
            color: var(--white);
        }
    
        .header-text {
            margin-bottom: 2%;
            display: block;
            font-size: 2.6em;
            text-align: center;
            color: var(--white);
        }

        .btn-block {
            text-align: center;

            .header-btn {
                padding: 15px 20px;
                color: var(--white);
                border: 2px solid var(--white);

                &:hover {
                    color: var(--black);
                    background: var(--scolor);
                    border: 2px solid #252934;
                    transition: .5s;

                    .fa {
                        color: var(--black);
                        transition: .5s;
                        transform: rotate(90deg);
                    }
                }

                .fa {
                    margin-left: 10px;
                }
            }
        }
    }
}

// Menu 

.menu {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #1B242F;
    border-bottom: 3px solid var(--scolor);

    .mmenu {
        display: none;
    }

    .nav {

        .nav-item {
            text-transform: uppercase;
            color: var(--white);

            &:hover a {
                transition: .3s;
                text-decoration: none;
            }
        }
    }
}

// Sticky menu

.headhesive {
    position: fixed;
    width: 100%;
    transform: translateY(-100%);
    transition: .5s;
    z-index: 1;
}

.headhesive--stick {
    transform: translateY(0);
}


// About

.about {
    padding-top: 100px;

    .about-main {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .about-hr {
        width: 10%;
        height: 4px;
        background: var(--black);
    }

    .about-block {
        margin-top: 100px;

        .my-ava {
            margin-bottom: 30px;
            display: block;
            font-size: 1.5em;
            font-weight: 600;
            text-align: center;
        }

        .ava {
            width: 300px;
            align-self: center;
            border-radius: 30px;
        }

        .ava-text {
            margin-top: 20px;
            text-align: center;
        }

        .skills {
            padding-top: 5%;

            #skill-1,
            #skill-2,
            #skill-3,
            #skill-4 {
                height: 50px;
            }

            #myBar-1,
            #myBar-2,
            #myBar-3 {
                margin-bottom: 25px;
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px;
                font-weight: bold;
                background-color: var(--scolor);
            }
        }
    }

    .advantages {

        .my-web {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 2em;
            font-weight: 600;
            text-align: center;
        }

        .adv-item {

            &:hover {

                .line {
                    animation-name: rightline;
                    animation-duration: .7s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }
            }

            .fa {
                display: block;
                text-align: center;
                font-size: 3em;
                color: var(--scolor);
            }

            .adv-title {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 2em;
                letter-spacing: 2px;
                text-align: center;
            }

            .adv-text {
                text-align: center;
            }

            .line {
                width: 5%;
                background: var(--scolor);
                height: 3px;
            }
        }
    }
}

@keyframes rightline {
    0% {
        width: 5%;
        height: 3px;
        background: var(--scolor);
    }

    100% {
        width: 100%;
        height: 3px;
        background: var(--scolor);
    }
}

// Quotes

.quote {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    background: #1B242F;

    .q {
        width: 100%;
        font-size: 1.1em;
        color: var(--white);
    }
}

// Works

.works {
    padding-top: 100px;

    .works-main {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .works-hr {
        width: 10%;
        height: 4px;
        background: var(--black);
    }

    .works-block {
        margin-top: 100px;

        .work-item {
            display: block;
            height: 300px;
            
            &:hover {
                transition: .5s;
                box-shadow: inset 0 0 0 23px rgba(0,0,0, .5);
                cursor: pointer;
            }
        }

        #work-item-1 {
            background: url(../img/work-1.PNG) no-repeat center;
            background-size: cover;
        }

        #work-item-2 {
            background: url(../img/work-2.PNG) no-repeat center;
            background-size: cover;
        }

        #work-item-3 {
            background: url(../img/work-3.PNG) no-repeat center;
            background-size: cover;
        }

        #work-item-4 {
            background: url(../img/work-4.PNG) no-repeat center;
            background-size: cover;
        }
    }
}

// FeedBack

.feedback {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #1B242F;

    .feedback-main {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
    }

    .feedback-hr {
        width: 10%;
        height: 4px;
        background: var(--white);
    }

    .ready {
        margin-top: 80px;
        color: var(--white);
    }

    .feed-btn {
        margin: 80px auto 0 auto;
        display: flex;
        background: none;
        padding: 20px 40px;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--white);
        border: 2px solid var(--color);

        &:hover {
            transition: .5s;
            color: var(--color);
            border: 2px solid var(--white);
            cursor: pointer;
        }
    }
}

// Quote-2 

.quote-2 {
    padding: 50px;
    text-align: center;
    background: var(--white);

    .q {
        width: 100%;
        font-size: 1.1em;
        color: var(--black);
    }
}

// Social

.social {
    padding-top: 50px;
    background: #1B242F;

    .soc-ico {
        text-align: center;

        .fa {
            font-size: 2em;
            margin-right: 40px;
            color: var(--white);
    
            &:hover {
                color: var(--color);
                transition: .5s;
            }
        }

        .fa-codepen {
            margin-right: 0;
        }
    }

    .copy {
        margin-top: 50px;
        color: var(--white);

        .copy-link {
            color: var(--color);
        }
    }
}

// Media    

@media screen and (max-width: 600px) {

    .header {

        .header-block {
            top: 30%;

            .header-text {
                margin-bottom: 5%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .works {

        .container {

            .works-block {
                padding: 0;

                .work-item {
                    padding: 0;
                }

                #work-item-1 {
                    background-position: 45%;
                }
                
                #work-item-2 {
                    background-position: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .menu {

        .nav {
            display: none !important;
        }

        .mmenu {
            display: block;

            .dropdown-toggle {
                display: block;
                font-size: 1.1em;
                font-weight: 600;
                color: var(--white);
                text-align: center;
            }

            .dropdown-menu {
                width: 100%;
                text-align: center;

                .dropdown-item {
                    margin-bottom: 10px;
                    font-size: 1.1em;
                    font-weight: 600;

                    &:hover {
                        background: #252934;
                        color: var(--color);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .works {

        .works-block {
            
            #work-item-1 {
                background-position: 40% !important;
            }

            #work-item-3 {
                background-position: 30%;
            }
        }
    }
}