@font-face {
  font-family: 'Nova Semi';
  src: url(../fonts/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: 'Nova Exb';
  src: url(../fonts/ProximaNova-Extrabld.ttf);
}

@font-face {
  font-family: 'Nova L';
  src: url(../fonts/ProximaNova-LightIt.ttf);
}

@font-face {
  font-family: 'Nova';
  src: url(../fonts/ProximaNova-RegularIt.ttf);
}

@font-face {
  font-family: 'Nova Bold';
  src: url(../fonts/ProximaNova-Bold.ttf);
}

:root {
  --white: #ffffff;
  --black: #111111;
  --red: #d13f4a;
}

body {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  padding: 35px 0;
  color: var(--white);
  background: var(--black);
}

.header .logo {
  font-family: 'Nova Semi';
}

.header .logo .name {
  font-size: 1.063em;
}

.header .logo .title {
  font-size: 0.750em;
}

.header .nav .nav-item {
  align-self: center;
  color: var(--white);
}

.header .nav .nav-item a {
  font-family: 'Nova Bold';
  font-size: 0.875em;
}

.lnews-sec {
  margin-top: 150px;
  margin-bottom: 150px;
}

.lnews-sec .lnews-block {
  color: var(--white);
}

.lnews-sec .lnews-block .lnews {
  margin: 0 auto;
  padding: 10px 22px;
  font-family: 'Nova Bold';
  font-size: 0.938em;
  text-align: center;
  background: var(--red);
  border-radius: 5px 5px 0 0;
}

.lnews-sec .lnews-block .lnews-title {
  margin: 0 auto;
  padding: 10px 22px;
  font-family: 'Nova Exb';
  font-size: 1.750em;
  text-align: center;
  background: var(--black);
}

.lnews-sec .lnews-block .lnews-disc {
  margin: 0 auto;
  padding: 13px 17px;
  font-family: 'Nova Semi';
  font-size: 0.875em;
  background: rgba(17, 17, 17, 0.8);
}

.news-sec .news {
  background-color: var(--white);
}

.news-sec .news .latest-news {
  margin-bottom: 12px;
  display: block;
  padding: 25px 18px;
  background: #f3f3f3;
  font-family: 'Nova Bold';
  font-size: 1.125em;
  color: #999999;
}

.news-sec .news .news-block .news-img {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 30px;
  display: block;
}

.news-sec .news .news-block .news-title {
  font-family: 'Nova Semi';
  font-size: 1.313em;
}

.news-sec .news .news-block .news-disc {
  font-family: 'Nova';
  font-size: 0.813em;
  color: #484848;
}

.news-sec .news .news-block .content .news-social .date,
.news-sec .news .news-block .content .news-social .like,
.news-sec .news .news-block .content .news-social .views,
.news-sec .news .news-block .content .news-social .twitter {
  margin-top: 4px;
  align-items: center;
  width: 76px;
  height: 16px;
  padding: 0 6px;
  font-size: 'Nova Bold';
  font-size: 0.563em;
  color: var(--white);
}

.news-sec .news .news-block .content .news-social .date,
.news-sec .news .news-block .content .news-social .more {
  background: #d13f4a;
}

.news-sec .news .news-block .content .news-social .views {
  background: #469134;
}

.news-sec .news .news-block .content .news-social .twitter {
  background: #24cedd;
}

.news-sec .news .news-block .content .news-social .like {
  background: #2f81c0;
}

.news-sec .news .news-block .content .news-social .more {
  margin-top: 4px;
  display: block;
  padding: 8px 5px;
  font-family: 'Nova Bold';
  font-size: 0.625em;
  text-align: center;
}

.news-sec .news .news-block .content .news-line {
  padding: 5px 25px;
  align-self: flex-start;
}

.news-sec .aside {
  background: rgba(10, 13, 16, 0.95);
}

.news-sec .aside .category {
  margin-top: 15px;
  padding: 18px;
  font-family: 'Nova Bold';
  color: #999999;
  background: #181818;
  border-right: 2px solid var(--red);
}

.news-sec .aside .sp {
  height: 40px;
  color: var(--white);
}

.news-sec .aside .sp .sp-logo {
  align-self: center;
}

.news-sec .aside .sp .sp-name {
  font-size: 'Nova Bold';
  align-self: center;
}

.news-sec .aside .sp-2 {
  background: #16181a;
}

.news-sec .aside .video {
  margin: 0 auto;
  display: block;
}

.news-sec .aside .div {
  margin: 8px 0;
  text-align: right;
}

.news-sec .aside .div .div-name {
  font-family: 'Nova Bold';
  font-size: 0.813em;
  color: var(--white);
}

.news-sec .aside .div .div-link {
  font-family: 'Nova Bold';
  font-size: 0.625em;
  color: var(--red);
}

.news-sec .aside .ads {
  margin: 8px auto;
  display: block;
}

.news-sec .aside .gallery {
  margin: 0 auto;
  text-align: center;
}

.news-sec .aside .gallery .gal {
  margin: 5px;
}

.news-sec .aside .stream {
  margin-top: 10px;
  text-align: center;
}

.news-sec .aside .stream .stream-info {
  color: var(--white);
}

.news-sec .aside .stream .stream-info .nick {
  font-family: 'Nova Bold';
  font-size: 0.813em;
  color: var(--red);
}

.news-sec .aside .stream .stream-info .do {
  font-family: 'Nova';
  font-size: 0.625em;
}

.news-sec .aside .stream .stream-info .game {
  font-size: 'Nova Bold';
  font-size: 0.813em;
}

.news-sec .aside .tweet {
  margin: 0 auto;
  padding-top: 10px;
}

.news-sec .aside .tweet .tweet-cont {
  text-align: center;
}

.news-sec .aside .tweet .tweet-cont .tweet-img {
  margin-right: 10px;
  display: block;
  align-self: flex-start;
}

.news-sec .aside .tweet .tweet-cont .message {
  display: block;
  font-family: 'Nova';
  font-size: 0.625em;
  color: var(--white);
}

.news-sec .aside .tweet .tweet-cont .who,
.news-sec .aside .tweet .tweet-cont .time {
  font-family: 'Nova';
  font-size: 0.625em;
  color: var(--white);
}

@media screen and (max-width: 991px) {
  .header .logo {
    margin-bottom: 10px;
    text-align: center;
  }
  .news-sec .aside {
    margin-top: 20px;
  }
  .news-sec .aside .tweet {
    margin-top: 10px;
  }
}

@media screen and (max-width: 575px) {
  .header .nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .nav .nav-item a {
    font-size: 0.6em;
  }
  .lnews-sec .lnews-block .lnews-disc {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .lnews-sec .lnews-block .lnews-title {
    font-size: 1.4em;
  }
}
