* {
    --menucl: #303741;
    --textcolor: #ffffff;
    --bgcolor: #202126;
}

body {
    color: var(--textcolor);
    background: var(--bgcolor);
}

html,
body {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.mob_menu {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    align-self: center;
}

.header {
    padding-top: 0.85px;
    padding-bottom: 0.85px;
    background: var(--menucl);

    .menu {
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;

            .logo-img {
                width: 100%;
                height: auto;
                align-self: center;
            }
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-self: center;

        .nav-item {
            position: relative;
            font-size: 16px;

            &:nth-child(1):hover::before,
            &:nth-child(2):hover::before {
                position: absolute; 
                content: "";
                top: 175%;
                width: 100%;
                height: 3px;
                background: -webkit-linear-gradient(45deg, #264de4, #02ecff); 
                bottom:0;
            }
            
            .nav-icon {
                font-size: 20px;
                transition: .5s;

                &:hover {
                    background: -webkit-linear-gradient(45deg, #264de4, #02ecff); 
                    background-clip: text;
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent; 
                }
            }
        }
    }

    .user-menu {
        display: flex;
        padding-right: 50px;
        justify-content: space-around;
        align-items: center;

        .lang {
            position: relative;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }

        .lang:after {
            content: '';
            position: absolute;
            display: block;
            left: -10px;
            width: 18px;
            height: 14px;
            border-radius: 4px;
            top: 20%;
            background: url(../img/russia.png) no-repeat center;
            background-size: 700% 100%;
        }

        .lang:before {
            content: '';
            position: absolute;
            display: block;
            right: -35px;
            width: 10px;
            height: 100%;
            background: url(../img/down-arrow.svg) no-repeat center;
        }

        .belt {
            width: 40px;
            height: 40px;
            background: url(../img/bell.png) no-repeat center;

            &:hover {
                cursor: pointer;
            }
        }

        .user {
        
            .username {
                position: relative;

                &:hover {
                    cursor: pointer;
                }
            }

            .username:after {
                content: '';
                position: absolute;
                display: block;
                left: -40px;
                top: -5px;
                width: 30px;
                height: 30px;
                background: url(../img/avatar.png) no-repeat center;
                background-size: cover;
                border-radius: 50%;
                border: 2px solid #05DFFB;
            }

            .username:before {
                content: '';
                position: absolute;
                display: block;
                right: -35px;
                width: 10px;
                height: 100%;
                background: url(../img/down-arrow.svg) no-repeat center;
            }
        }
    }
}

.left-aside,
.left-aside-mob {
    height: 90vh;
    padding: 0;
    background: radial-gradient(351.00px at 49.83% 40.39%, rgba(57, 64, 75, 0.98) 0%, rgba(41, 46, 54, 0.8624) 100%);
    backdrop-filter: blur(40px);

    .aside-titleblock {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 20px;

        .aside-title {
            font-weight: 600;
            font-size: 13px;
            align-self: center;
        }

        .aside-clear {
            align-self: center;
            font-weight: 500;
            font-size: 11px;
            text-align: right;
            color: #616A80;
            transition: .3s;

            &:hover {
                color: var(--textcolor);
                cursor: pointer;
            }
        }
    }

    .aside-line {
        position: relative;
        margin: 0 auto;
        height: 1px;
        width: 90%;
        background: rgba(71, 80, 93, 0.49);
    }

    .aside-line:before {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        left: 0;
        content: "";
        background: url(../img/Vector.svg) no-repeat;
    }

    .aside-line:after {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        right: 0;
        content: "";
        background: url(../img/Vector.svg) no-repeat;
    }

    .prices_block {
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
        padding-bottom: 25px;

        .price_info {
            display: flex;
            padding: 5px;
            border: 0.6px solid #383E4A;
            align-self: center;

            .price_span {
                align-self: center;
                font-size: 11px;
                font-weight: 600;
                color: #636F7F;
            }

            .price_inp::-webkit-outer-spin-button,
            .price_inp::-webkit-inner-spin-button {
                 display: none;
                -webkit-appearance: none;
                margin: 0;
            }

            .price_inp {
                position: relative;
                margin-left: 10px;
                width: 100%;
                padding: 4px;
                font-size: 11px;
                font-weight: 600;
                color: var(--textcolor);
                background: inherit;
                border: 0;

                &:focus {
                    outline-color: #ffffff;
                }
            }
        }
    }

    .decor_line {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
        height: 1px;
        background: rgba(71, 80, 93, 0.49);
    }
}

.items_health_checkbox {
    padding-left: 17px;
    border-top: 1px solid rgba(71, 80, 93, 0.49);

    .health_title,
    .health_title_open {
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        font-size: 13px;
        font-weight: 600;
        color: var(--textcolor);
        align-self: center;

        &:hover {
            cursor: pointer;
        }
    }

    .health_title_open {
        position: relative;
        font-size: 13px;
        font-weight: 600;
        color: var(--textcolor);

        &:hover {
            cursor: pointer;
        }
    }

    .health_title_open::after {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        top: 23px;
        right: 0;
        content: "";
        background: url(../img/Arrow.svg) no-repeat;
        transform: rotate(180deg);
    }

    .health_title::after {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        top: 22px;
        right: 0;
        content: "";
        background: url(../img/Arrow.svg) no-repeat;
    }

    .checkboxes {
        display: flex;
        flex-direction: column;

        .check_block {
            display: flex;
            margin-bottom: 11px;
            align-content: center;

            .checkbox_label {
                margin: 0;
            }

            .health_checkbox,
            .health_checkbox_open {
                align-self: center;
            }

            .items_count {
                margin-left: auto;
                font-size: 12px;
                color: #636F7F;
            }
        }
    }
}

.content {
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .help-panel {
        display: flex;
        width: 100%;
        padding: 10.1px;
        background: radial-gradient(101.30px at 49.83% 40.39%, rgba(41, 46, 54, 0.8624) 0%, rgba(57, 64, 75, 0.98) 100%);
        backdrop-filter: blur(40px);

        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .help-icon {
            width: 25px;
            height: 14px;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }

        .help-icon:first-child {
            width: 50px;
            height: 10px;
        }

        .stack {
            font-size: 12px;
            align-self: center;

        .stack_checbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 0 0 0 20px;
            }

            .stack_checbox + label {
            position: relative;
            padding: 0 0 0 60px;
            cursor: pointer;
            }

            .stack_checbox + label:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 40px;
            height: 15px;
            border-radius: 13px;
            background: inherit;
            border: 1px solid #ffffff;
            box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
            transition: .2s;
            }

            .stack_checbox + label:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 2px;
            width: 11px;
            height: 11px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0 2px 5px rgba(0,0,0,.3);
            transition: .2s;
            }

            .stack_checbox:checked + label:before {
                background: inherit;
            }

            .stack_checbox:checked + label:after {
            left: 26px;
            }
            .stack_checbox:focus + label:before {
            box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 1px #264de4;
            }
        
            .stack_checbox {
                margin: 0;
            }

            .stack_label {
                margin-bottom: 0;
            }
        }

        .search_block {

            .search {
                width: 100%;
                padding: 16.6px;
                font-size: 12px;
                color: rgba(172, 194, 221, 0.3);
                background: rgba(32, 33, 38, 0.47);
                border: 0.6px solid #383E4A;
                box-sizing: border-box;
                border-radius: 2px;

                &:focus {
                    outline-color: #ffffff;
                }
            }
        }

        .shop_filter {
            align-self: center;
            text-align: right;

            .filter_text {
                align-self: center;
                font-size: 12px;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                }
            }

            .filter_text:before {
                content: '';
                position: absolute;
                display: block;
                top: 2px;
                right: 0;
                width: 10px;
                height: 100%;
                background: url(../img/down-arrow.svg) no-repeat center;
            }
        }
    }

    .shop {
        margin-top: 10px;
        flex-wrap: wrap;
        padding: 0;

        .item_block {
            width: 14%;
            margin: 0.1666666666666%;
            margin-top: 0;
            padding-bottom: 10px;
            background: linear-gradient(212.15deg, #303741 0%, #353C47 100%);
            border-radius: 2px;

            .lm {
                width: 100%;
                padding: 10px;

                .learn_more {
                    margin-left: 5px;
                    font-size: 11px;
                    color: #687585;
                }
            }

            .item_photo {
                margin: 0 auto;
                margin-top: 10px;

                .item_img {
                    margin: 0;
                    width: auto;
                    height: 88px;
                    margin: 0 auto;
                    display: block;
                }
            }

            .item_desc {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .desc_model,
                .desc_mark,
                .desc_size {
                    font-size: 11px;
                    color: #687585;
                }

                .desc_name {
                    display: flex;
                    font-size: 14.5px;
                    color: var(--textcolor);

                    .sale {
                        font-size: 11px;
                        transform: skewX(-5deg);
                        padding: 0 5px;
                        align-self: center;
                        background: #2E5C7B;
                        border-radius: 1.81323px;
                    }
                }

                .desc_size {
                    margin-top: 10px;
                }

                .desc_float {
                    display: flex;
                    margin-top: 10px;
                    justify-content: space-between;
                    font-size: 11px;
                    color: #687585;

                    .img-cont {
                        position: relative;
                        display: block;
                        align-self: center;
                        width: 80%;

                        .float_img {
                            width: 100%;
                        }
                    }

                    .img-cont::before {
                        position: absolute;
                        display: block;
                        width: 8px;
                        height: 8px;
                        top: 5px;
                        left: 2px;
                        content: "";
                        border-radius: 50%;
                        background: #24292D;
                    }
                }
            }

            .item_price {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                padding: 10px;
                font-size: 14.5px;
                font-weight: 600;
                color: var(--textcolor);
                background: #2B313A;

                .rub_price {
                    margin-left: 5px;
                    align-self: center;
                    font-size: 11px;
                    color: #687585;
                }
            }

            .item_actions {
                display: flex;
                justify-content: space-around;

                .in_cart {
                    width: 25%;
                    border: 0;
                    outline: none;
                    border-radius: 2px; 
                    background: linear-gradient(258.46deg, #687585 0.52%, #505C69 99.79%);

                    &:hover {
                        cursor: pointer;
                    }
                }

                .buy_now {
                    width: 70%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 10px;
                    font-weight: bold;
                    color: var(--textcolor);
                    background: linear-gradient(261.72deg, #25A9F3 0%, #285DE5 100%);
                    background-position: 50% 50%;
                    border: 0;
                    border-radius: 2px;
                    outline: none;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .csgo_block {

            .lm {
                position: relative;
                align-self: center;
                
                .lm_img {
                    align-self: center;
                }

                .counter {
                    position: absolute;
                    right: 10%;
                    top: 30%;
                    align-self: center;
                    font-size: 13px;
                    font-weight: 600;
                }
            }


            .item_actions {

                .cart_num {
                    width: 35px;
                    background: #202126;
                    border-radius: 2px;
                    border: 0;
                    color: var(--textcolor);
                    text-align: center; 
                }

                .plus_minus {
                    display: flex;
                    flex-direction: column;

                    .cart_num_plus,
                    .cart_num_minus {
                        align-self: center;
                        font-size: 10px;
                        color: #687585;
                        padding: 0;
                        text-align: center;
                        background: rgba(54, 55, 64, 0.44);
                        border-radius: 0px 2px 0px 0px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .cart_num_plus {
                        padding-top: 2px;
                    }

                    .cart_num_minus {
                        padding-top: 1px;
                    }
                }
            }
        }

        .item_block:nth-child(7n+1) {
            margin-left: 0;
        }

        .item_block:nth-child(7n+7) {
            margin-right: 0;
        }
    }
}

.mobile_menu_block {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
    
    .left-aside {
        height: 100vh;
    }
}

.left-aside-mob {
    background: radial-gradient(351.00px at 49.83% 40.39%, rgba(57, 64, 75, 1) 0%, rgba(41, 46, 54, 1) 100%);
    backdrop-filter: blur(40px);
    
    .mob_logo {
        margin: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .content {
        
        .shop {

            .item_block {
                width: 24%;
                margin: 0.666666666666%;
            }

            .item_block:nth-child(7n+1) {
                margin-left: auto;
            }
    
            .item_block:nth-child(7n+7) {
                margin-right: auto;
            }

            .item_block:nth-child(4n+4) {
                margin-right: 0;
            }

            .item_block:nth-child(4n+1) {
                margin-left: 0;
            }
        }
    }   
}

@media screen and (max-width: 992px) {
    .header {

        .user-menu {
            padding-right: 10px;
        }
    }

    .left-aside {
        display: none;
    }

    .mob_menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header {

        .nav {
            margin: 0 auto;
        }

        .menu {
            flex-wrap: wrap;

            .logo {
                padding: 0;

                .logo-img {
                    width: 50%;
                }
            }
        }
    }

    .content {

        .help-panel {

            flex-wrap: wrap;

            .icons {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .content {

        .shop {

            .item_block {
                width: 49%;
                margin: 1%;

                .item_desc {
                    text-align: center;

                    .desc_name {
                        margin: 0 auto;
                    }
                }
            }

            .item_block:nth-child(7n+1) {
                margin-left: auto;
            }
    
            .item_block:nth-child(7n+7) {
                margin-right: auto;
            }

            .item_block:nth-child(4n+4) {
                margin-right: 0;
            }

            .item_block:nth-child(4n+1) {
                margin-left: 0;
            }

            .item_block:nth-child(2n+2) {
                margin-right: 0;
            }

            .item_block:nth-child(2n+1) {
                margin-left: 0;
            }

            .item_block:nth-child(1),
            .item_block:nth-child(2) {
                margin-top: 0;
            }
        }
    }  
}

.alerts {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(906.20px at 49.83% 40.39%, rgba(41, 46, 54, 0.5) 0%, rgba(57, 64, 75, 0.5) 100%);
    backdrop-filter: blur(40px);
    border-radius: 0px 0px 2px 2px;

    .notice_menu {
        position: relative;
        top: 5%;
        width: 450px;
        height: 90vh;
        background: radial-gradient(906.20px at 49.83% 40.39%, rgba(41, 46, 54, 0.8624) 0%, rgba(57, 64, 75, 0.98) 100%);
        backdrop-filter: blur(40px);

        .notice_main {
            display: flex;
            justify-content: space-between;
            padding: 25px;
            background: #343B46;
            border-radius: 2px 2px 0px 0px;

            .notice_left {
                display: flex;
                flex-direction: column;

                .notifications {
                    font-size: 12px;
                    color: var(--textcolor);
                }

                .new_notices {
                    font-size: 11px;
                    color: #687585;
                }
            }
        }

        .notice_alerts {

            .notice_alert {
                margin-top: 10px;
                padding: 15px;
                display: flex;
                background: linear-gradient(186.89deg, #303741 0%, #353C47 100%);
                border-radius: 1.81323px;

                .alert_title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #ffffff;
                }

                .alert_img {
                    padding: 25px;
                    align-self: center;
                }

                .alert_text {
                    margin: 0;
                    font-size: 11px;
                    color: #687585;

                    .bold {
                        font-weight: 600;
                        color: var(--textcolor);
                    }
                }
            }
        }
    }
    .notice_menu:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #343B46;
        border-width: 5px;
        margin-left: -20px;
    }

    .shop_notice {
        position: absolute;
        top: 5%;
        right: 0;
        width: 450px;
        height: 90vh;
        background: radial-gradient(906.20px at 49.83% 40.39%, rgba(41, 46, 54, 0.8624) 0%, rgba(57, 64, 75, 0.98) 100%);
        backdrop-filter: blur(40px);
        border-radius: 0px 0px 2px 2px;

        .cart {
            display: flex;
            padding: 20px;
            background: #343B46;
            border-radius: 2px 2px 0px 0px;

            .cart_info {


                .cart_price {
    
                    .usd_price {
                        font-size: 14.5px;
                        font-weight: 600;
                        color: var(--textcolor);
                    }
    
                    .rub_price {
                        font-size: 11px;
                        color: #687585;
                    }
                }

                .cart_count {
                    font-size: 12px;
                    color: #687585;
        
                }
            }

            .cart_btn {
                padding: 0;

                .cart_pay {
                    width: 100%;
                    font-size: 12px;
                    font-weight: bold;
                    color: var(--textcolor);
                    padding: 17px 0;
                    height: 100%;
                    background: linear-gradient(262.8deg, #25A9F3 0%, #285DE5 100%);
                    border-radius: 2px;
                    border: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .cart_items {
            padding: 20px;
            padding-top: 0;

            .cart_item {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
                padding: 15px 0;
                background: linear-gradient(188.37deg, #303741 0%, #353C47 100%);
                border-radius: 1.81323px;

                .cart_item_info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;

                    .cart_item_float,
                    .cart_item_model,
                    .cart_item_floatline {
                        font-size: 11px;
                        color: #687585;
                    }

                    .cart_item_floatline {
                        position: relative;
                        margin-top: 10px;
                    }

                    .cart_item_floatline:before {
                        position: absolute;
                        display: block;
                        width: 8px;
                        height: 8px;
                        top: 5px;
                        left: 24px;
                        content: "";
                        border-radius: 50%;
                        background: #24292D;
                    }

                    .cart_item_name {
                        display: flex;

                        .sale {
                            margin-left: 5px;
                            transform: skewX(-5deg);
                            padding: 0 5px;
                            align-self: center;
                            background: #2E5C7B;
                        }
                    }
                }

                .cart_more {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    background: #303741;
                    border-radius: 0px 0px 1.81323px 1.81323px;

                    .cart_price {

                        .usd_price {
                            font-size: 14.5px;
                            font-weight: 600;
                            color: var(--textcolor);
                        }

                        .rub_price {
                            font-size: 11px;
                            color: #687585;
                        }
                    }

                    .lm {
                        align-self: center;
                        font-size: 11px;
                        color: #687585;
                    }
                }
            }
        }
    }

    .shop_notice:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #343B46;
        border-width: 5px;
        margin-left: -20px;
    }
}


@media screen and (max-width: 576px) {
    .content .help-panel .stack {
        order: 2;
    }
}

.health_checkbox[type="checkbox"]:checked, 
.health_checkbox[type="checkbox"]:not(:checked), 
.health_checkbox[type="radio"]:checked, 
.health_checkbox[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

.health_checkbox[type="checkbox"]:checked + label, 
.health_checkbox[type="checkbox"]:not(:checked) + label, 
.health_checkbox[type="radio"]:checked + label, 
.health_checkbox[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.health_checkbox[type="checkbox"]:checked + label:before, 
.health_checkbox[type="checkbox"]:not(:checked) + label:before,
.health_checkbox[type="radio"]:checked + label:before, 
.health_checkbox[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.health_checkbox[type="checkbox"]:checked + label:before, 
.health_checkbox[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

.health_checkbox[type="radio"]:checked + label:before, 
.health_checkbox[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

.health_checkbox[type="checkbox"]:checked + label:after, 
.health_checkbox[type="checkbox"]:not(:checked) + label:after, 
.health_checkbox[type="radio"]:checked + label:after, 
.health_checkbox[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.health_checkbox[type="checkbox"]:checked + label:after, 
.health_checkbox[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.health_checkbox[type="radio"]:checked + label:after, 
.health_checkbox[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e145a3;
}

.health_checkbox[type="checkbox"]:not(:checked) + label:after, 
.health_checkbox[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

.health_checkbox[type="checkbox"]:checked + label:after, 
.health_checkbox[type="radio"]:checked + label:after {
    opacity: 1;
}