:root {
    --rob   : "Roboto";
    --open  : "Open Sans";
    --white : #ffffff;
    --black : #000000;
    --gray  : #d7d7d7;
    --scolor: #00c8c8;
}

body {
    font-family: var(--rob);
    color: var(--black);
}

a {
    color: #464646;

    &:hover {
        text-decoration: none;
    }
}

.fa {
    display: flex;
    align-self: center;
}

// info

.info {
    padding-top: 25px;
    padding-bottom: 10px;
    background: #31353d;

    .langcur {
        color: var(--gray);
        text-align: right;

        .lang {
            font-weight: 500;
            color: var(--white);
        }
        
        .cur {
            font-weight: 500;
            color: var(--white);
        }
    }

    .phone {
        color: var(--gray);
    }

    .email {
        color: var(--gray);
    }

    .line {
        margin-right: 10px;
        margin-left: 10px;
        color: var(--gray);
    }
}

// header

.header {
    background: var(-white);

    .logo {
        position: relative;
        font-family: "Ancuu";
        font-size: 2.250em;
        font-weight: bold;
        color: #252525;

        .point {
            position: absolute;
            top: 70%;
            right: 56%;
            width: 7px;
            height: 7px;
            background: var(--scolor);
            border-radius: 50%;
        }
    }

    .menu {
        align-self: center;

        .nav {

            .nav-item {
                font-size: 0.875em;
                font-weight: 200;
                color: #464646;
            }
        }
    }

    .client {
        align-self: center;
        color: #464646;
    }
}

// slide

.slide {
    padding-top: 140px;
    height: 630px;
    background: url(../img/headerbg.png) no-repeat center;

    .slide-before {
        font-family: var(--open);
        font-size: 0.875em;
        font-weight: 900;
        text-transform: uppercase;
        color: #31415c;
    }

    .slide-title {
        font-family: var(--open);
        font-size: 4.500em;
        font-weight: 900;
        color: #31415c;
    }

    .slide-text {
        font-family: var(--rob);
        font-size: 0.875em;
        font-weight: 200;
        font-style: italic;
        color: #252525;
    }

    .slide-link {
        font-size: 0.625em;
        font-weight: bold;
        text-transform: uppercase;
        color: #111111;

        .fa-caret-right {
            padding-left: 3px;
            font-size: 12px;
        }
    }
}

// adv

.adv {

    .adv-block {
        align-self: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .fa {
            align-self: center;
            font-size: 1.6em;
            color: #252525;
        }

        .adv-content {
            align-self: center;
            margin-left: 20px;

            .adv-title {
                font-size: 0.875em;
                font-weight: bold;
                color: #252525;
            }

            .adv-text {
                font-size: 0.750em;
                font-weight: 200;
                color: #898989;
            }
        }
    }
}

// shoping now 

.shopnow {
    
    .shop-block {
        height: 400px;
        padding-top: 70px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .shop-block-1 {
        text-align: right;
        background: url(../img/2_1.png) no-repeat;
        background-size: cover;

        .shop-small {
            font-family: var(--open);
            font-size: 0.875em;
            font-weight: bold;
            color: #ff0036;
        }

        .shop-title {
            font-family: var(--open);
            font-size: 1.875em;
            font-weight: 900;
            text-transform: uppercase;
            color: #252525;
        }

        .shop-price {
            font-family: var(--open);
            font-size: 1.875em;
            font-weight: bold;
            color: #ff0036;
        }

        .shop-text {
            width: 50%;
            margin-left: auto;
            font-family: var(--open);
            font-size: 0.750em;
            font-weight: 200;
            color: #636363;
        }

        .shop-link {
            font-size: 0.625em;
            font-weight: bold;
            text-transform: uppercase;
            color: #111111;

            .fa {
                display: inline;
                padding-left: 5px;
            }
        }
    }

    .shop-block-2 {
        background: url(../img/2_2.png) no-repeat center;
        background-size: cover;

        .shop-small {
            font-family: var(--open);
            font-size: 0.875em;
            font-weight: bold;
            color: #00b8b8;
        }

        .shop-title {
            font-family: var(--open);
            font-size: 1.875em;
            font-weight: 900;
            text-transform: uppercase;
            color: #252525;
        }

        .shop-price {
            font-family: var(--open);
            font-size: 1.875em;
            font-weight: bold;
            color: #00b8b8;
        }

        .shop-text {
            width: 50%;
            margin-right: auto;
            font-family: var(--open);
            font-size: 0.750em;
            font-weight: 200;
            color: #636363;
        }

        .shop-link {
            font-size: 0.625em;
            font-weight: bold;
            text-transform: uppercase;
            color: #111111;

            .fa {
                display: inline;
                padding-left: 5px;
            }
        }
    }
}

// shoes

.shoes {
    margin-top: 30px;

    .shoes-block {
        height: 260px;
        padding-top: 60px;
        padding-left: 70px;
        background: url(../img/3.png) no-repeat center;
        background-size: cover;

        .shoes-small {
            font-size: 0.875em;
            font-weight: 900;
            text-transform: uppercase;
            color: #f7941d;
        }

        .shoes-title {
            font-size: 2.250em;
            font-weight: bold;
            text-transform: uppercase;
            color: #00c8c8;
        }

        .shoes-text {
            width: 53%;
            font-size: 0.750em;
            font-weight: 200;
            color: #636363;
        }

        .shoes-link {
            font-size: 0.625em;
            font-weight: bold;
            text-transform: uppercase;
            color: #111111;

            .fa {
                display: inline;
                padding-left: 5px;
            }
        }
    }
}

// items

.items {
    margin-top: 30px;

    .items-title {
        position: relative;
        margin-bottom: 30px;
        font-size: 1.5em;
        font-weight: 500;
        color: #252525;

        &::before {
            position: absolute;
            top: 110%;
            height: 1px;
            width: 50px;
            border-bottom: 1px solid #252525;
            content: "";
        }
    }

    .items-all {
        margin-bottom: 30px;
        padding-bottom: 5px;
        align-self: center;
        font-size: 0.625em;
        font-weight: 200;
        text-transform: uppercase;
        color: #636363;
    }

    .item-block {
        margin-bottom: 30px;

        &:hover {
            .hover-block {
                display: flex;
            }
        }

        .item-name {
            font-size: 0.875em;
            font-weight: 200;
            color: #555555;
        }

        .item-photo {
            margin-bottom: 20px;
        }

        .sale {
            position: absolute;
            top: 0;
        }

        .hot {
            position: absolute;
            top: 0;
        }

        .new {
            position: absolute;
            top: 0;
        }

        .hover-block {
            position: absolute;
            bottom: 30%;
            display: none;
            width: 95%;
            height: 10%;
            background: var(--white);
            z-index: 1;
        }

        .item-price {
            font-size: 1.125em;
            font-weight: 600;
            color: #252525;
        }

        .stars {
            padding-bottom: 5px;

            .fa-star {
                color: #b7b7b7;
            }

            .active {
                color: #eecf00;
            }
        }
    }
}

// little banner

.l-banner {
    margin-top: 50px;

    .banner-block {
        height: 200px;
        background: url(../img/l-banner.png) no-repeat;
        background-size: cover;

        .l-banner-small {
            padding-top: 8px;
            font-size: 1.125em;
            font-weight: 900;
            color: var(--white);
        }
    
        .l-banner-middle {
            width: 60%;
            padding-right: 9px;
            padding-left: 9px;
            font-size: 1.500em;
            font-weight: 200;
            color: #252525;
            background: var(--white);
        }
    
        .l-banner-big {
            font-size: 3.750em;
            font-weight: 900;
            color: var(--white);
        }

        .l-banner-link {
            font-size: 0.875em;
            font-weight: 200;
            color: #636363;
        }
    }
}

// msstore

.msstore {
    margin-top: 30px;

    .store-block {
        padding: 0;
        text-align: center;
        background: #96dbc9;

        .msstore-title {
            margin-top: 65px;
            font-size: 1.875em;
            font-weight: bold;
            text-transform: uppercase;
            color: #31353d;
        }

        .msstore-line {
            width: 10%;
            color: #5a6273;
        }

        .msstore-text {
            width: 60%;
            margin: 30px auto;
            font-size: 0.750em;
            font-weight: 300;
            line-height: 36px;
            color: #31353d;
        }

        .msstore-link {
            font-size: 0.625em;
            font-weight: bold;
            text-transform: uppercase;
            color: #31353d;

            .fa {
                display: inline;
                padding-left: 10px;
            }
        }
    }

    .store-block-img {
        padding: 0;
    }
}

// best

.best {
    
    .container {
        padding: 0;
    }
}