:root {
  --rob: "Roboto";
  --open: "Open Sans";
  --white: #ffffff;
  --black: #000000;
  --gray: #d7d7d7;
  --scolor: #00c8c8;
}

body {
  font-family: var(--rob);
  color: var(--black);
}

a {
  color: #464646;
}

a:hover {
  text-decoration: none;
}

.fa {
  display: flex;
  align-self: center;
}

.info {
  padding-top: 25px;
  padding-bottom: 10px;
  background: #31353d;
}

.info .langcur {
  color: var(--gray);
  text-align: right;
}

.info .langcur .lang {
  font-weight: 500;
  color: var(--white);
}

.info .langcur .cur {
  font-weight: 500;
  color: var(--white);
}

.info .phone {
  color: var(--gray);
}

.info .email {
  color: var(--gray);
}

.info .line {
  margin-right: 10px;
  margin-left: 10px;
  color: var(--gray);
}

.header {
  background: var(-white);
}

.header .logo {
  position: relative;
  font-family: "Ancuu";
  font-size: 2.250em;
  font-weight: bold;
  color: #252525;
}

.header .logo .point {
  position: absolute;
  top: 70%;
  right: 56%;
  width: 7px;
  height: 7px;
  background: var(--scolor);
  border-radius: 50%;
}

.header .menu {
  align-self: center;
}

.header .menu .nav .nav-item {
  font-size: 0.875em;
  font-weight: 200;
  color: #464646;
}

.header .client {
  align-self: center;
  color: #464646;
}

.slide {
  padding-top: 140px;
  height: 630px;
  background: url(../img/headerbg.png) no-repeat center;
}

.slide .slide-before {
  font-family: var(--open);
  font-size: 0.875em;
  font-weight: 900;
  text-transform: uppercase;
  color: #31415c;
}

.slide .slide-title {
  font-family: var(--open);
  font-size: 4.500em;
  font-weight: 900;
  color: #31415c;
}

.slide .slide-text {
  font-family: var(--rob);
  font-size: 0.875em;
  font-weight: 200;
  font-style: italic;
  color: #252525;
}

.slide .slide-link {
  font-size: 0.625em;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
}

.slide .slide-link .fa-caret-right {
  padding-left: 3px;
  font-size: 12px;
}

.adv .adv-block {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.adv .adv-block .fa {
  align-self: center;
  font-size: 1.6em;
  color: #252525;
}

.adv .adv-block .adv-content {
  align-self: center;
  margin-left: 20px;
}

.adv .adv-block .adv-content .adv-title {
  font-size: 0.875em;
  font-weight: bold;
  color: #252525;
}

.adv .adv-block .adv-content .adv-text {
  font-size: 0.750em;
  font-weight: 200;
  color: #898989;
}

.shopnow .shop-block {
  height: 400px;
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
}

.shopnow .shop-block-1 {
  text-align: right;
  background: url(../img/2_1.png) no-repeat;
  background-size: cover;
}

.shopnow .shop-block-1 .shop-small {
  font-family: var(--open);
  font-size: 0.875em;
  font-weight: bold;
  color: #ff0036;
}

.shopnow .shop-block-1 .shop-title {
  font-family: var(--open);
  font-size: 1.875em;
  font-weight: 900;
  text-transform: uppercase;
  color: #252525;
}

.shopnow .shop-block-1 .shop-price {
  font-family: var(--open);
  font-size: 1.875em;
  font-weight: bold;
  color: #ff0036;
}

.shopnow .shop-block-1 .shop-text {
  width: 50%;
  margin-left: auto;
  font-family: var(--open);
  font-size: 0.750em;
  font-weight: 200;
  color: #636363;
}

.shopnow .shop-block-1 .shop-link {
  font-size: 0.625em;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
}

.shopnow .shop-block-1 .shop-link .fa {
  display: inline;
  padding-left: 5px;
}

.shopnow .shop-block-2 {
  background: url(../img/2_2.png) no-repeat center;
  background-size: cover;
}

.shopnow .shop-block-2 .shop-small {
  font-family: var(--open);
  font-size: 0.875em;
  font-weight: bold;
  color: #00b8b8;
}

.shopnow .shop-block-2 .shop-title {
  font-family: var(--open);
  font-size: 1.875em;
  font-weight: 900;
  text-transform: uppercase;
  color: #252525;
}

.shopnow .shop-block-2 .shop-price {
  font-family: var(--open);
  font-size: 1.875em;
  font-weight: bold;
  color: #00b8b8;
}

.shopnow .shop-block-2 .shop-text {
  width: 50%;
  margin-right: auto;
  font-family: var(--open);
  font-size: 0.750em;
  font-weight: 200;
  color: #636363;
}

.shopnow .shop-block-2 .shop-link {
  font-size: 0.625em;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
}

.shopnow .shop-block-2 .shop-link .fa {
  display: inline;
  padding-left: 5px;
}

.shoes {
  margin-top: 30px;
}

.shoes .shoes-block {
  height: 260px;
  padding-top: 60px;
  padding-left: 70px;
  background: url(../img/3.png) no-repeat center;
  background-size: cover;
}

.shoes .shoes-block .shoes-small {
  font-size: 0.875em;
  font-weight: 900;
  text-transform: uppercase;
  color: #f7941d;
}

.shoes .shoes-block .shoes-title {
  font-size: 2.250em;
  font-weight: bold;
  text-transform: uppercase;
  color: #00c8c8;
}

.shoes .shoes-block .shoes-text {
  width: 53%;
  font-size: 0.750em;
  font-weight: 200;
  color: #636363;
}

.shoes .shoes-block .shoes-link {
  font-size: 0.625em;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
}

.shoes .shoes-block .shoes-link .fa {
  display: inline;
  padding-left: 5px;
}

.items {
  margin-top: 30px;
}

.items .items-title {
  position: relative;
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: 500;
  color: #252525;
}

.items .items-title::before {
  position: absolute;
  top: 110%;
  height: 1px;
  width: 50px;
  border-bottom: 1px solid #252525;
  content: "";
}

.items .items-all {
  margin-bottom: 30px;
  padding-bottom: 5px;
  align-self: center;
  font-size: 0.625em;
  font-weight: 200;
  text-transform: uppercase;
  color: #636363;
}

.items .item-block {
  margin-bottom: 30px;
}

.items .item-block:hover .hover-block {
  display: flex;
}

.items .item-block .item-name {
  font-size: 0.875em;
  font-weight: 200;
  color: #555555;
}

.items .item-block .item-photo {
  margin-bottom: 20px;
}

.items .item-block .sale {
  position: absolute;
  top: 0;
}

.items .item-block .hot {
  position: absolute;
  top: 0;
}

.items .item-block .new {
  position: absolute;
  top: 0;
}

.items .item-block .hover-block {
  position: absolute;
  bottom: 30%;
  display: none;
  width: 95%;
  height: 10%;
  background: var(--white);
  z-index: 1;
}

.items .item-block .item-price {
  font-size: 1.125em;
  font-weight: 600;
  color: #252525;
}

.items .item-block .stars {
  padding-bottom: 5px;
}

.items .item-block .stars .fa-star {
  color: #b7b7b7;
}

.items .item-block .stars .active {
  color: #eecf00;
}

.l-banner {
  margin-top: 50px;
}

.l-banner .banner-block {
  height: 200px;
  background: url(../img/l-banner.png) no-repeat;
  background-size: cover;
}

.l-banner .banner-block .l-banner-small {
  padding-top: 8px;
  font-size: 1.125em;
  font-weight: 900;
  color: var(--white);
}

.l-banner .banner-block .l-banner-middle {
  width: 60%;
  padding-right: 9px;
  padding-left: 9px;
  font-size: 1.500em;
  font-weight: 200;
  color: #252525;
  background: var(--white);
}

.l-banner .banner-block .l-banner-big {
  font-size: 3.750em;
  font-weight: 900;
  color: var(--white);
}

.l-banner .banner-block .l-banner-link {
  font-size: 0.875em;
  font-weight: 200;
  color: #636363;
}

.msstore {
  margin-top: 30px;
}

.msstore .store-block {
  padding: 0;
  text-align: center;
  background: #96dbc9;
}

.msstore .store-block .msstore-title {
  margin-top: 65px;
  font-size: 1.875em;
  font-weight: bold;
  text-transform: uppercase;
  color: #31353d;
}

.msstore .store-block .msstore-line {
  width: 10%;
  color: #5a6273;
}

.msstore .store-block .msstore-text {
  width: 60%;
  margin: 30px auto;
  font-size: 0.750em;
  font-weight: 300;
  line-height: 36px;
  color: #31353d;
}

.msstore .store-block .msstore-link {
  font-size: 0.625em;
  font-weight: bold;
  text-transform: uppercase;
  color: #31353d;
}

.msstore .store-block .msstore-link .fa {
  display: inline;
  padding-left: 10px;
}

.msstore .store-block-img {
  padding: 0;
}

.best .container {
  padding: 0;
}
